{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Color Admin | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

	<link href='{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet" />
	<link href='{% static "/assets/plugins/font-awesome/css/all.min.css" %}' rel="stylesheet" />
	<link href='{% static "/assets/plugins/animate/animate.min.css" %}' rel="stylesheet" />
	<link href='{% static "/assets/css/default/style.min.css" %}' rel="stylesheet" />
	<link href='{% static "/assets/css/default/style-responsive.min.css" %}' rel="stylesheet" />
	<link href='{% static "/assets/css/default/theme/default.css" %}' rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src='{% static "/assets/plugins/pace/pace.min.js" %}'></script>
	<!-- ================== END BASE JS ================== -->
</head>
<body class="pace-top bg-white">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	{% block content %}
	{% endblock content %}
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src='{% static "/assets/plugins/jquery/jquery-3.3.1.min.js" %}'></script>
	<script src='{% static "/assets/plugins/jquery-ui/jquery-ui.min.js" %}'></script>
	<script src='{% static "/assets/plugins/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
	<script src='{% static "/assets/plugins/slimscroll/jquery.slimscroll.min.js" %}'></script>
	<script src='{% static "/assets/plugins/js-cookie/js.cookie.js" %}'></script>
	<script src='{% static "/assets/js/theme/default.min.js" %}'></script>
	<script src='{% static "/assets/js/apps.min.js" %}'></script>
	<!-- ================== END BASE JS ================== -->

	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
</body>
</html>
