{% extends "base_login.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
    <div id="page-container" class="fade">
        {% if request.user.is_authenticated %}
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">BLC</span>
        </nav> 
        <h1> Welcome to STARTMATH </h1>


        <h1> Welcome {{request.user.username}}</h1>
        <span>{% bootstrap_messages %}</span>
        
        <a href="{% url 'login:user_logout' %}"class= "btn btn-lg btn-success ml-5">logout</a>
        {% endif %}
    </div>
{% endblock content %}
