{% extends "base_login.html" %}
{% load bootstrap4 %}
{% load static %}

{% block title %}

{% endblock title %}

{% block content %}
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin register -->
		<div class="register register-with-news-feed">
			<!-- begin news-feed -->
			<div class="news-feed">
				<div class="news-image" style="background-image: url({% static '/assets/img/login-bg/login-bg-9.jpg' %})"></div>
				<div class="news-caption">
					<h4 class="caption-title"><b>Color</b> Admin App</h4>
					<p>
						As a Color Admin app administrator, you use the Color Admin console to manage your organization’s account, such as add new users, manage security settings, and turn on the services you want your team to access.
					</p>
				</div>
			</div>
			<!-- end news-feed -->
			<!-- begin right-content -->
			<div class="right-content">
				<!-- begin register-header -->
				<h1 class="register-header">
					Sign Up
					<small>Create your Color Admin Account. It’s free and always will be.</small>
				</h1>
				<!-- end register-header -->
				<!-- begin register-content -->
				<div class="register-content">
					<form action= "." method="POST" class="margin-bottom-0">
                        {% bootstrap_messages %}
                        {% csrf_token %}
                        {% bootstrap_form form %}
						<div class="register-buttons">
							<button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
						</div>
						<div class="m-t-20 m-b-40 p-b-40 text-inverse">
							Already a member? Click <a href="{% url 'login:user_logout' %}">here</a> to login.
						</div>
						<hr />
						<p class="text-center">
							&copy; Color Admin All Right Reserved 2019
						</p>
					</form>
				</div>
				<!-- end register-content -->
			</div>
			<!-- end right-content -->
		</div>
		<!-- end register -->
{% endblock content %}
